cache/*
*.log
crm/*
.idea/*
nbproject/*
custom/history/*
modules/AOD_Index/Index/Index/segments.gen
modules/AOD_Index/Index/Index/segments_2
modules/AOD_Index/Index/Index/segments_2
*.gen
modules/AOD_Index/Index/Index/segments.gen
config.php
config.php
config.php
config.php
